Hoşgeldiniz.
<a class="btn btn-sm btn-secondary" asp-controller="Authorize" asp-action="SecretPage">gizli</a>
<a class="btn btn-sm btn-secondary" asp-controller="Public" asp-action="PublicPage">gizli değil</a>