@using DevExpress.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Products</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebAppDemo.styles.css" asp-append-version="true" />
	<!-- DevExtreme CSS -->
	<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/24.2.5/css/dx.light.css" />
	
</head>
<body>
	    
		<header>
			
		</header>
	
	 <div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!-- DevExtreme JS: jQuery'den sonra -->
	<script src="https://cdn3.devexpress.com/jslib/24.2.5/js/dx.all.js"></script>
	
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html> 


